<div class="row mt-16">
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card-status">

            <div class="card-status-title d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Vagas Disponíveis</h2>
                <img src="/img/logo - CARD.png" alt="Logo" class="logo-card">
            </div>

            <div class="card-status-body">
                <h1>{{vaga_disponiveis}}</h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card-status">

            <div class="card-status-title d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Vagas Ocupadas</h2>
                <img src="/img/icon-timer-CARD.png" alt="Logo" class="logo-card">
            </div>

            <div class="card-status-body">
                <h1>{{vagas_ocupadas}}</h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card-status">

            <div class="card-status-title d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Carros</h2>
                <img src="/img/Car.png" alt="Logo" class="logo-card">
            </div>

            <div class="card-status-body">
                <h1>{{carro}}</h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card-status">

            <div class="card-status-title d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Motos</h2>
                <img src="/img/Motorcycle.png" alt="Logo" class="logo-card">
            </div>

            <div class="card-status-body">
                <h1>{{moto}}</h1>
            </div>
        </div>
    </div>
</div>