<section class="menu-opcoes mt-16">
    <ul class="lista-menu-opcoes">
        <li class="item-lista active">Veiculos Ativos</li>
        <li class="item-lista">Vagas</li>
        <li class="item-lista">Registrar Entrada</li>
        <li class="item-lista">Historico</li>
    </ul>
</section>