<main class="vh-100">
    <div class="container">
        <div class="row mt-16">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="card-status">

                    <div class="card-status-title d-flex justify-content-between align-items-center">
                        <h2 class="mb-0">Vagas Disponíveis</h2>
                        <img src="/img/logo - CARD.png" alt="Logo" class="logo-card">
                    </div>

                    <div class="card-status-body">
                        <h1>0</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="card-status">

                    <div class="card-status-title d-flex justify-content-between align-items-center">
                        <h2 class="mb-0">Vagas Ocupadas</h2>
                        <img src="/img/icon-timer-CARD.png" alt="Logo" class="logo-card">
                    </div>

                    <div class="card-status-body">
                        <h1>0</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="card-status">

                    <div class="card-status-title d-flex justify-content-between align-items-center">
                        <h2 class="mb-0">Carros</h2>
                        <img src="/img/Car.png" alt="Logo" class="logo-card">
                    </div>

                    <div class="card-status-body">
                        <h1>0</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="card-status">

                    <div class="card-status-title d-flex justify-content-between align-items-center">
                        <h2 class="mb-0">Motos</h2>
                        <img src="/img/Motorcycle.png" alt="Logo" class="logo-card">
                    </div>

                    <div class="card-status-body">
                        <h1>0</h1>
                    </div>
                </div>
            </div>
        </div>

        <section class="menu-opcoes mt-16">
            <ul class="lista-menu-opcoes">
                <li class="item-lista active">Veiculos Ativos</li>
                <li class="item-lista">Vagas</li>
                <li class="item-lista">Registrar Entrada</li>
                <li class="item-lista">Historico</li>
            </ul>
        </section>

        <section class="veiculos_ativos section-estacionamento active-section mt-16">
            <header class="cabecalho_veiculos_ativos w-100 d-flex align-items-center justify-content-between">
                <h3 class="titulo-veiculos-ativos">Veículos Estacionados</h3>
                <p class="bagde-ativos"><span>0</span> Ativos</p>
            </header>

            <div class="veiculos_momentos">
                <ul class="lista_veiculos_ativos">
                    <li class="li-ativo mt-16">
                        <div class="item_ativo">
                            <div class="header-item">
                                <h3><img src="/img/Icone_carro_ativo.png" alt="icone para o titulo de carro ativo"
                                        class="me-2"> ENH-6415</h3>

                                <div class="grupo_acoes">
                                    <button class="ticket_veiculo btn_ver_ticket"><img src="/img/icon-deletar-carro.png"
                                            alt="icone para deletar o carro"></button>
                                    <button class="ticket_veiculo btn_remover_veiculo"><img src="/img/Ticket.png"
                                            alt="icone ticket para o botao"></button>
                                </div>

                            </div>
                            <div class="descricao_carro">
                                <ul class="lista_descricao_carro">
                                    <li>Modelo: <span>Honda Civic</span></li>
                                    <li>Cor: <span>Preta</span></li>
                                    <li>Vaga: <span>#10</span></li>
                                    <li>Entrada: <span>23/01/2026, 01:09</span></li>
                                    <li>Tempo: <span>0 Min</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="section-estacionamento mt-16">
            <div class="row mt-16">
                <div class="col-12 col-md-6">
                    <h3 class="titulo_vaga">Setor A</h3>

                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <div class="vaga_status disponivel">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p class="disponibilidade">Disponivel</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="titulo_vaga">Setor B</h3>

                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <div class="vaga_status disponivel">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p class="disponibilidade">Disponivel</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            <div class="row mt-16 mb-5">
                <div class="col-12 col-md-6">
                    <h3 class="titulo_vaga">Setor C</h3>

                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <div class="vaga_status disponivel">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p class="disponibilidade">Disponivel</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="titulo_vaga">Setor D</h3>

                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <div class="vaga_status disponivel">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p class="disponibilidade">Disponivel</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vaga_status ocupado">

                                <div class="vaga">
                                    <span>#1</span>
                                </div>

                                <p>Ocupado</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="registrar-entrada  mt-16 section-estacionamento">
            <form class="formulario needs-validation" action="/registrarEntrada" method="POST" novalidate>
                <div class="caixa-titulo">
                    <h4 class="titulo-formulario header-4">Registrar Entrada</h4>
                    <p class="subtitulo-formulario">Gerenciamento da entrada de veículos</p>
                </div>

                <div class="form-check">
                    <input type="radio" class="form-check-input" id="txtCarro" name="tipo_veiculo"  value="carro" required>
                    <label class="form-check-label" for="txtCarro">Carro</label>
                </div>

                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="txtMoto" name="tipo_veiculo" value="moto">
                    <label class="form-check-label" for="txtMoto">Moto</label>
                    <div class="invalid-feedback">
                        Selecione um tipo de veículo
                    </div>
                </div>



                <div class="row mt-16">

                    <div class="col-md-6 d-flex flex-column gap-2">
                        <label for="vagas_disponiveis_agora">Vaga</label>
                        <select class="input-formulario" name="vagas_disponivel" id="vagas_disponiveis_agora">
                            <option value="" disabled selected>
                                Selecione a vaga (Opcional)
                            </option>

                            <option value="1">Vaga 1</option>
                            <option value="2">Vaga 2</option>
                            <option value="3">Vaga 3</option>
                            <option value="4">Vaga 4</option>
                            <option value="5">Vaga 5</option>
                            <option value="6">Vaga 6</option>
                            <option value="7">Vaga 7</option>
                            <option value="8">Vaga 8</option>
                            <option value="9">Vaga 9</option>
                            <option value="10">Vaga 10</option>
                            <option value="11">Vaga 11</option>
                            <option value="12">Vaga 12</option>
                            <option value="13">Vaga 13</option>
                            <option value="14">Vaga 14</option>
                            <option value="15">Vaga 15</option>
                            <option value="16">Vaga 16</option>
                        </select>

                    </div>

                    <div class="col-md-6 d-flex flex-column gap-2">
                        <label for="txtPlaca">Placa</label>
                        <input class="form-control input-formulario" type="text" name="placa" placeholder="ABC-1234"
                            required pattern="[A-Z]{3}-[0-9]{4}">
                        <div class="invalid-feedback">
                            Informe a placa corretamente
                        </div>
                    </div>

                </div>

                <div class="mt-16 d-flex flex-column gap-2">
                    <label for="txtModelo">Modelo</label>
                    <input class="form-control input-formulario" type="text" name="modelo" id="txtModelo"
                        placeholder="Ex: Honda Civic" required>
                    <div class="invalid-feedback">
                        Escolha o modelo para o veiculo
                    </div>
                </div>

                <div class="mt-16 d-flex flex-column gap-2">
                    <label for="txtCor">Cor</label>
                    <input class="form-control input-formulario" type="text" name="cor" id="txtCor"
                        placeholder="Ex: Preto" required>
                    <div class="invalid-feedback">
                        Escolha a cor para o veiculo
                    </div>
                </div>

                <div class="mt-16">
                    <button type="submit" class="btn-registrar-entrada">
                        Registrar Entrada
                    </button>
                </div>
            </form>
        </section>

        <section class="section-estacionamento">
            <h1>Historico</h1>
            <div class="alert alert-warning">Gerenciar Historico</div>
        </section>

    </div>


</main>