<main class="vh-100">
    <div class="container">

        {{> dashboards-status}}

        {{> menu}}

        {{#if sucesso}}
        <div id="alert_mensagem" class="alert alert-success mt-3">
            Veículo cadastrado com sucesso
        </div>
        {{/if}}


        {{> veiculos-estacionados}}

        {{> vagas}}

        {{> registrar-entrada}}

        {{> historico-estacionamento}}

    </div>

    {{> modal-liberar-veiculo}}

</main>