<main>
    <div class="container">

        {{> dashboards-status}}

        {{> menu}}

        {{#if (eq sucesso '1')}}
        <div id="alert_mensagem" class="alert alert-success mt-3">
            Veículo cadastrado com sucesso
        </div>
        {{/if}}

        {{#if (eq sucesso '2')}}
        <div id="alert_mensagem_liberado" class="alert alert-success mt-3">
            Veículo liberado com sucesso
        </div>
        {{/if}}

        {{#if (eq erro 'placa_existente')}}
        <div id="alert_mensagem_veiculo_registrado" class="alert alert-warning mt-3">
            Placa de veiculo já registrado
        </div>
        {{/if}}

        {{> veiculos-estacionados}}

        {{> vagas}}

        {{> registrar-entrada}}

        {{> historico-estacionamento}}

    </div>

    {{> modal-liberar-veiculo}}

</main>